* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  background-color: beige;
  margin-bottom: 3vh;
}

.inputDiv {
  margin: 25px;
}